* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

div.container {
  width: 100vw;
  height: calc(100vh - 2em);
  overflow-y: hidden;
}

/* -----------------

  Navbar

----------------- */

nav {
  width: 100vw;
  height: 2em;
  display: flex;
  align-items: center;
  background: #4e4e4e;
  color: white;
  padding: 0 0.5em;
  position: fixed;
  bottom: 0;
}

nav span:hover {
  color: #b5b5b5;
  cursor: pointer;
}

nav span.city:before,
nav span.town:before {
  content: '';
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin: 0 1em;
}

/* -----------------

  Map

----------------- */

svg#map {
  width: 70vw;
  height: calc(100vh - 2em);
  display: block;
  background: #cceeff;
  float: left;
}

svg#map rect.background {
  width: 70vw;
  height: calc(100vh - 2em);
  fill: transparent;
}

svg#map g.city,
svg#map g.town {
  fill: #fff;
  stroke: #633636;
}

svg#map g.town path {
  display: none;
}

svg#map g.town path.active {
  display: block;
}

svg#map g path:hover {
  fill: #ffffb6;
  cursor: pointer;
}

/* -----------------

  Content

----------------- */

div.content {
  width: 30vw;
  height: calc(100vh - 2em);
  float: right;
  padding: 20px 0;
  overflow-y: scroll;
}

.content #overview {
  margin: 0 20px 20px 20px;
}

.content h2 {
  margin: 0 20px;
}
#month > svg,
#age > svg,
#abroad > svg {
  width: 100%;
  height: 30vh;
  min-height: 200px;
}

svg .axis text {
  font-size: 12px;
}

path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path,
.y.axis line {
  fill: none;
  stroke: #000;
}

.x.axis line {
  display: none;
}

#age svg .x.axis text {
  text-anchor: end !important;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#age svg .x.axis line {
  display: block;
  fill: none;
  stroke: #000;
}

#tooltip {
  position: absolute;
  background: #4e4e4e;
  color: white;
  height: auto;
  padding: 5px;
  border-radius: 5px;
}

/*#tooltip:before {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  line-height: 1;
  color: #4E4E4E;
  content: "\25C0";
  position: absolute;
  text-align: center;
  left: -10px;
  top: 1em;
}*/

#tooltip.hidden {
  display: none;
}

#month circle:hover,
#age rect:hover,
#abroad path:hover {
  fill: yellow;
}
