* {
  box-sizing: border-box;
}

body {
  margin: 0;
}


/* -----------------

  Map

----------------- */

svg#map {
  width: 70vw;
  height: 100vh;
  display: block;
  background: #CCEEFF;
  float: left;
}

g.city, g.town {
  fill: #FFF;
  stroke: #633636;
}

g.town path {
  display: none;
}


/* -----------------

  Content

----------------- */

div.content {
  width: 30vw;
  height: 100vh;
  float: right;
  padding: 20px 0;
  overflow: scroll;
}

.content h2 {
  margin: 0 20px;
}
#month>svg, #age>svg, #immigration>svg {
  width: 100%;
  height: 30vh;
  min-height: 200px;
}

svg .axis text {
  font-size: 12px;
}

path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path , .y.axis line{
  fill: none;
  stroke: #000;
}

.x.axis line {
  display: none;
}

#age svg .x.axis text {
  text-anchor: end !important;
  -moz-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  transform:rotate(-45deg);
}

#age svg .x.axis line {
  display: block;
  fill: none;
  stroke: #000;
}